.comments {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(164, 164, 164);

  &:first-child {
    border-top: none;
  }

  .active {
    background-color: rgba(255, 233, 233, 0.988);
    width: 100%;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .commented-by {
      font-size: 15px;
      color: rgba(215, 178, 178, 0.927);
      margin: 0px 5px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .time-commented {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .comment-details {
    padding: 10px;
    display: flex;

    .item {
      padding: 0px 20px;
      text-transform: capitalize;
      font-size: 14px;
    }

    .action {
      margin: 0px 20px;
      display: flex;

      .mdi {
        cursor: pointer;

      }

      .delete {
        color: rgba(247, 26, 26, 0.831);
      }

      .edit {
        color: rgb(8, 244, 8);
      }
    }
  }
}