$background-color:#f1f2f2;
$primary-color:#fff;
$grey-color:rgb(194, 194, 194);
$lightgrey-color:rgb(232, 223, 223);
$secondary-color: #b92b27;
$text-color:#636466;
$card-color:#9a9b9c;
$blue-color:rgba(73, 73, 249, 0.872);
$color-action:rgba(12, 12, 240, 0.92);
$color-green:#54d690;